<div class="main">
  <div class="main__header">Header</div>
  <div class="main__header main__header--red">Header 2</div>
  <div class="main__body">Normal body</div>
  <div class="main__body main__body--big">big body</div>
  <div>
    <p class="main__paragraph">
      A Lorem Ipsum egy egyszerû szövegrészlete, szövegutánzata a betûszedõ és
      nyomdaiparnak. A Lorem Ipsum az 1500-as évek óta standard
      szövegrészletként szolgált az iparban; mikor egy ismeretlen nyomdász
      összeállította a betûkészletét és egy példa-könyvet vagy szöveget nyomott
      papírra, ezt használta. Nem csak 5 évszázadot élt túl, de az elektronikus
      betûkészleteknél is változatlanul megmaradt. Az 1960-as években
      népszerûsítették a Lorem Ipsum részleteket magukbafoglaló Letraset
      lapokkal, és legutóbb softwarekkel mint például az Aldus Pagemaker.
    </p>
    <p class="main__paragraph--plus-padding"> <!--egy selector megadásával adjuk át mindhárom classt -->
      A Lorem Ipsum egy egyszerû szövegrészlete, szövegutánzata a betûszedõ és
      nyomdaiparnak. A Lorem Ipsum az 1500-as évek óta standard
      szövegrészletként szolgált az iparban; mikor egy ismeretlen nyomdász
      összeállította a betûkészletét és egy példa-könyvet vagy szöveget nyomott
      papírra, ezt használta. Nem csak 5 évszázadot élt túl, de az elektronikus
      betûkészleteknél is változatlanul megmaradt. Az 1960-as években
      népszerûsítették a Lorem Ipsum részleteket magukbafoglaló Letraset
      lapokkal, és legutóbb softwarekkel mint például az Aldus Pagemaker. v
    </p>
  </div>
  <div class="main__border">border</div>
  <div class="main__border--green">border</div>
</div>
